//Colors
$main-color:#8B5CF6;
$secondary-color:#7240e7;
$white:#ffffff;
$off-white:#f5f5f5;
$black:#000000;
$black-secondary:#262626;
$fade-color:#E5E5E5;
$gray:#737373;
$light-gray:#A3A3A3;



//Typography
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');


$font-size-1:14px;
$font-size-2:16px;
$font-size-3:16px;
$font-size-4 :20px;
$font-size-5 :24px;
$font-size-6 :30px;
$font-size-7 :38px;
$font-size-8 :48px;
$font-size-9 :80px;