@use '../Abstracts/variables' as *;
.main-button{
    background-color: $main-color;
    color: $white;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: $font-size-3;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        background-color: $secondary-color;
    }
}